.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.register form label {
  margin: 0.5rem;
  width: 100%;
}

.register form input {
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.4rem;
  width: 100%;
  border: 1px solid var(--gray-500);
}

.register form button {
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.4rem;
  width: 100%;
}

.errors {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #ff000055;
  border: 1px solid red;
  border-radius: 0.4rem;
  padding: 1rem;
  margin-top: 1rem;
}

.errors p {
  margin-top: 1rem;
  color: #ff0000;
}

.success {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #00800055;
  border: 1px solid #008000;
  border-radius: 0.4rem;
  padding: 1rem;
  margin-top: 1rem;
}

.success p {
  color: #008000;
  text-align: center;
}
